# The following are added here so that we don't need to run inv install. This
# should be the same as the compiled output of "python manage.py install -l" in
# all demo projects.
bleach
odfpy
num2words
schedule
appy


# ldap support is not yet given by `inv install`:
git+https://github.com/khchine5/django-auth-ldap.git#egg=django-auth-ldap

# Was used by lino_xl.lib.mailbox in noi1e and noi1r. No longer maintained.
# django-mailbox@git+https://github.com/tonispiip/django-mailbox
# django-mailbox@git+https://github.com/coddingtonbear/django-mailbox

# 20210306 : version 4.0.0 of django_social (released 2020-06-21)  causes merge
# conflicts, but the latest clone works.
social-auth-app-django@git+https://github.com/python-social-auth/social-app-django
